@media only screen and (max-width: 576px) {
    .menu-list {
        flex-direction: column;
    }
    .menu-list li {
        padding: 5px;
    }
    .menu-list .dw-cv {
        padding: 6px 10px;
    }
    #banner-container {
        flex-direction: column;
        margin-bottom: 50px;
    }
    #banner-container h1 {
        font-size: 20px;
    }
    #banner-container .banner-cata p {
        font-size: 16px;
    }
    .banner-image {
        margin-top: 80px;
    }
    #banner-container .banner-cata {
        flex-direction: column;
    }
    .about-me-container {
        flex-direction: column;
    }
    .about-me-header {
        margin-bottom: 20px;
    }
    .experience {
        text-align: left;
    }
    .experience-container {
        flex-direction: column;
        margin-bottom: 40px;
    }
    .portfolio-header button {
        display: block;
        margin-bottom: 15px;
    }
    .portfolio-body {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .portfolio-body-text h1 {
        font-size: 25px;
    }
    .portfolio-body-text p {
        font-size: 15px;
    }
    .portfolio-body img {
        width: 300px;
        height: 250px;
    }
    .award-title-2 {
        margin-bottom: 15px;
    }
    .footer-menu ul {
        flex-direction: column;
        gap: 20PX;
    }
    .footer-menu ul li a {
        font-size: 16px;
        color: #fff;
    }
}